<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TechX 2012 - JavaScript Modules</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="assets/css/docs.css" rel="stylesheet">
    <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

	<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
	<script data-main="javascripts/main-order" src="javascripts/require-jquery.js"></script>

  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">
	<a href="https://github.com/jessecravens/js-modules-techx"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 10000;" src="https://a248.e.akamai.net/assets.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>	
	  <!-- Navbar
	    ================================================== -->
	    <div class="navbar navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
	          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </a>
	          <a class="brand" href="./index.html">Bootstrap</a>
	          <div class="nav-collapse">
	            <ul class="nav">
	              <li class="">
	                <a href="./require.html">RequireJS and JQuery</a>
	              </li>
	              <li class="">
	                <a href="./require-order.html">RequireJS, AMD, Order</a>
	              </li>
	              <li class="">
	                <a href="./commonjs.html">CommonJS</a>
	              </li>
	              <li class="">
	                <a href="./yui3.html">YUI3</a>
	              </li>
	              <li class="">
	                <a href="./yepnope.html">yepnope</a>
	              </li>
	              <li class="">
	                <a href="./harmony.html">Harmony</a>
	              </li>
	            </ul>
	          </div>
	        </div>
	      </div>
	    </div>
	
    <div class="container">

		<!-- Masthead
		================================================== -->
		<header class="jumbotron subhead" id="overview">
		  <h1>TechX 2012 - JavaScript Modules</h1>
		  <p class="lead">JavaScript Module Harmony Demo</p>
		</header>
		
		<h2>Overview</h2>
		
		<p>The <a href="http://tools.google.com/dlpage/chromesxs">latest Canary build of Google Chrome</a> allows you to unlock some new features from ECMAScript Harmony. However, they are disabled by default, so to enable them you have to type about:flags into your address bar, and turn on “Enable Experimental JavaScript” which is found right at the bottom of the page.</p>


		<img src="assets/img/javascript-harmony-chrome.png" width="548" height="511" alt="Javascript Harmony Chrome">
		
		<h2>Syntax</h2>
		<h3>Simple Module</h3>
		<script src="https://gist.github.com/2240458.js?file=simple.js"></script>
		
		<h3>Dynamic Module Loading</h3>
		<script src="https://gist.github.com/2240458.js?file=dynamic.js"></script>
		
		<h3>Remote Module Load</h3>
		<script src="https://gist.github.com/2240458.js?file=harmony-remote.js"></script>
		
		  <!-- <div class="row">
			
		    <div id="load" class="span6">
				<h2>Loaded Scripts</h2>
		    </div>

		    <div class="span6">
			</div>
			
		  </div> -->


     <!-- Footer
      ================================================== -->
      <footer class="footer">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>Designed and built for techX 2012.</p>
      </footer>
    </div><!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="assets/js/google-code-prettify/prettify.js"></script>
    <script src="assets/js/bootstrap-transition.js"></script>
    <script src="assets/js/bootstrap-alert.js"></script>
    <script src="assets/js/bootstrap-modal.js"></script>
    <script src="assets/js/bootstrap-dropdown.js"></script>
    <script src="assets/js/bootstrap-scrollspy.js"></script>
    <script src="assets/js/bootstrap-tab.js"></script>
    <script src="assets/js/bootstrap-tooltip.js"></script>
    <script src="assets/js/bootstrap-popover.js"></script>
    <script src="assets/js/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap-collapse.js"></script>
    <script src="assets/js/bootstrap-carousel.js"></script>
    <script src="assets/js/bootstrap-typeahead.js"></script>
    <script src="assets/js/application.js"></script>
  </body>
</html>
