<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TechX 2012 - JavaScript Modules</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="assets/css/docs.css" rel="stylesheet">
    <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">
	<a href="https://github.com/jessecravens/js-modules-techx"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 10000;" src="https://a248.e.akamai.net/assets.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>


  <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="./index.html">Bootstrap</a>
          <div class="nav-collapse">
	            <ul class="nav">
	              <li class="">
	                <a href="./require.html">RequireJS and JQuery</a>
	              </li>
	              <li class="">
	                <a href="./require-order.html">RequireJS, AMD, Order</a>
	              </li>
	              <li class="">
	                <a href="./commonjs.html">CommonJS</a>
	              </li>
	              <li class="">
	                <a href="./yui3.html">YUI3</a>
	              </li>
	              <li class="">
	                <a href="./yepnope.html">yepnope</a>
	              </li>
	              <li class="">
	                <a href="./harmony.html">Harmony</a>
	              </li>
	            </ul>
          </div>
        </div>
      </div>
    </div>

	
    <div class="container">

		<!-- Masthead
		================================================== -->
		<header class="jumbotron subhead" id="overview">
		  <h1>TechX 2012 - JavaScript Modules</h1>
		  <p class="lead">Demonstration of JavaScript Script Loaders, Module Definitions, and Dependency Management</p>
		</header>


				<h2>Introduction</h2>
					<h3>The Goal</h3>
				<ul>
				<li>Load modules as fast as possible, even out of order.</li>
				<li>Evaluate modules in the correct dependency order.</li>
			    <li>Do not use global variables, so it is possible to load multiple versions of a module in a page.</li>
			</ul>
					<h3>Asynchronous Loading</h3>
					
									
			  			<script src="https://gist.github.com/1991043.js?file=async-require-example.js"></script>
					<h3>AMD Define</h3>				
				  		<script src="https://gist.github.com/1991043.js?file=function-wrapping.js"></script>
				

			
			
			<div class="row">
		    <div class="span6">
		  		<h2>Script Loaders</h2>
		        <ul class="">
	              <li>RequireJS</li>
	              <li>yepnope</li>	            
		          <li>YUI3</li>
			      <li>curl.js</li>
				  <li>LABjs</li>
				  <li>LazyLoad</li>
				  <li>HeadJS</li>
				  <li>LazyLoad</li>
				  <li>StealJS</li>
				  <li>ControlJS</li>								
				  <li>StealJS</li>
				  <li>PINF JS Loader</li>
				  <li>JSLoad</li>
				  <li>JsDefer</li>
				  <li>JSL</li>
				  <li>load.js</li>															
				</ul>
		    </div>
		
		
<!-- 		
			HeadJS
			Head JS loads scripts in parallel no matter how many of them and what the browser is. Load scripts like images. Use HTML5 and CSS3 safely. Target CSS for different screens, paths, states and browsers. Make it the only script in your HEAD.
			Author: Tero Piirainen
			Project URL: Here
			Size: 6.3 KB
			Related links:
			HeadJS theory
			HeadJS TEST
			LabJS
			LABjs (Loading And Blocking JavaScript) is an all-purpose, on-demand JavaScript loader, capable of loading any JavaScript resource, from any location, into any page, at any time. You can easily specify which scripts have execution order dependencies and LABjs will ensure proper execution order. This makes LABjs safe to use for virtually any JavaScript resource, whether you control/host it or not, and whether it is standalone or part of a larger dependency tree of resources.
			Author: Kyle Simpson
			Project URL: Here
			Size: 4.7 KB
			Related links:
			Github repo
			Ajaxian article
			RequireJS
			RequireJS is a JavaScript file and module loader. It is optimized for in-browser use, but it can be used in other JavaScript environments, like Rhino and Node. Using a modular script loader like RequireJS will improve the speed and quality of your code.
			Author: James Burke
			Project URL: Here
			Size: 13 KB
			Related links:
			Using with jQuery
			Github
			ControlJS
			ControlJS is a JavaScript module that handles both inline scripts and external scripts, delays script execution until after the page has rendered, allows for scripts to be downloaded, not executed and integrates with simple changes to HTML and no code changes
			Author: Steve Souders
			Project URL: Here
			Size: 3.6 KB
			Related links:
			Howto guide
			Example menu
			StealJS
			The StealJS project is a collection of command and client based JavaScript utilities that make building, packaging, sharing and consuming JavaScript applications easy. Includes modules for dependency management, JS compression, cleaning and logging.
			Author: Brian Moschel
			Project URL: Here
			Size: 11.4 KB
			Related links:
			Official forum
			JavaScript MVC Google Group
			yepnope
			yepnope is an asynchronous conditional resource loader that’s super-fast, and allows you to load only the scripts that your users need. It works with both JavaScript and CSS and has a full test suite in QUnit that you can run in your set of supported browsers to make sure it works.
			Author: Alex Sexton and Ralph Holzmann
			Project URL: Here
			Size: 3.4 KB
			Related links:
			Introduction to yepnope
			Github repo
			PINF JS Loader
			The loader allows for bootstrapping a consistent and state-of-the-art CommonJS environment for any supported platform (on server & in browser) and thus is ideally suited to be used as the target for the commonjs command and the development of cross-platform JavaScript applications and libraries.
			Author: Christoph Dorn
			Project URL: Here
			Size: 22 KB
			Related links:
			Presentation with Slides
			Introduction to PINF
			JSLoad
			JSLoad is a Javascript file loader that we wrote for Instructables. You give it a set of dependencies and groupings, and it loads the files you need, when your executing code needs them. The real usefulness of JSLoad comes with its ability to group dependencies using tags.


			Author: Eric Nguyen
			Project URL: Here
			Size: 9.8 KB
			Related links:
			JSLoad @ Mindtangle
			JSLoad @ Instructables
			JsDefer
			JsDefer features parallel/serial loading based on definitions, dependency, and wrapped versus unwrapped, and whether dependencies are defined in separate def file or in script itself and integration with Deferred (as in jQuery 1.5) enables or simplifies many use-case scenarios among many others.
			Author: Boris Moore
			Project URL: Here
			Size: 4.7 KB
			Related links:
			Demo app
			Some advanced examples
			JSL (JavaScript Loader)
			JSL features on-demand loading, is browser cacheable, dynamic asynchronous JavaScript loading, lazy loading and duplicate source prevention among a ton of other features.
			Author: Andres Vidal
			Project URL: Here
			Size: 2.1 KB
			Related links:
			How to load JSL
			A simple example
			YUI 3 Get
			The Get Utility provides a mechanism for attaching script and css resources — including cross-domain resources — to the DOM after the page has loaded.
			Author: Adam Moore
			Project URL: Here
			Size: 17.9 KB
			Related links:
			API Documentation
			Demos
			DominateJS
			DominateJS allows you to asynchronously load all your JavaScript, and defer sequential execution until the page loads. DominateJS aims to be a cross-browser and 100% document.write-safe library! This is a heavily modified (and powerful!) evolution of ControlJS.
			Author: Chris Joel & Jason Benterou
			Project URL: Here
			Size: 48 KB
			Load.js
			load.js is a micro JS lazy-loader. Built on top of chain.js, it allows you to lazy load your JS scripts sequentially or in parallel and handle complex dependency chains.
			Author: Chris O’Hara
			Project URL: Here
			Size: 2 KB
			Related links:
			Chain.JS – Dependency
			Coverage at DailyJS
			BravoJS
			BravoJS is an implementation of a proposed draft for CommonJS Modules/2.0
			Author: Wes Garland
			Project URL: Here
			Size: 10.7 KB
			Bootstrap
			Bootstrap is a small library for dynamically loading JavaScript files.
			It’s primary use case is for using in your JS code to load JS files only when they are used.
			Author: Scott Koon
			Project URL: Here
			Size: 1.3 KB
			LazyLoad
			LazyLoad is a tiny (only 904 bytes minified and gzipped), dependency-free JavaScript utility that makes it super easy to load external JavaScript and CSS files on demand.
			Whenever possible, LazyLoad will automatically load resources in parallel while ensuring execution order when you specify an array of URLs to load. In browsers that don’t preserve the execution order of asynchronously-loaded scripts, LazyLoad will safely load the scripts sequentially.
			Author: Ryan Grove
			Project URL: Here
			Size: 1.6 KB
			curl.js
			curl.js is a small, but very fast AMD-compliant asynchronous loader. Current size: 4.5KB (2.1KB gzipped) using Google’s Closure Compiler.
			If you’d like to use curl.js for non-AMD modules (ordinary javascript files), you’ll want to use the version with the js! plugin built in. You may also want to build-in the domReady module. The combined curl+js+domReady loader is still only 6.1KB (2.7KB gzipped).
			Author: John Hann
			Project URL: Here
			Size: 5 KB
			$script.js
			$script.js is an asynchronous JavaScript loader and dependency manager with an astonishingly impressive lightweight footprint. Like many other script loaders, $script.js allows you to load script resources on-demand from any URL and not block other resources from loading, like CSS and images.
			Author: Dustin Diaz
			Project URL: Here
			Size: 1.4 KB
			NBL.js
			NBL.js is a tiny script that will make your HTML pages load faster by loading all your JavaScript files asynchronously (in parallel) with the rest of your page. Normally if you include two or three scripts in your page, the browser will wait for them to be executed before your page is shown.
			Author: Berklee
			Project URL: Here
			Size: 971 B
			Related links:
			Examples
			Github repo
		 -->
		

		    <div class="span6">
				<h2>Module Definitions</h2>
		        <ul class="">
	              <li>AMD</li>
	              <li>CommonJS</li>	            
		          <li>YUI3</li>
				  <li>Harmony</li>
				</ul>
			</div>
		  </div>


     <!-- Footer
      ================================================== -->
      <footer class="footer">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>Designed and built for techX 2012.</p>
      </footer>
    </div><!-- /container -->




    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/google-code-prettify/prettify.js"></script>
    <script src="assets/js/bootstrap-transition.js"></script>
    <script src="assets/js/bootstrap-alert.js"></script>
    <script src="assets/js/bootstrap-modal.js"></script>
    <script src="assets/js/bootstrap-dropdown.js"></script>
    <script src="assets/js/bootstrap-scrollspy.js"></script>
    <script src="assets/js/bootstrap-tab.js"></script>
    <script src="assets/js/bootstrap-tooltip.js"></script>
    <script src="assets/js/bootstrap-popover.js"></script>
    <script src="assets/js/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap-collapse.js"></script>
    <script src="assets/js/bootstrap-carousel.js"></script>
    <script src="assets/js/bootstrap-typeahead.js"></script>
    <script src="assets/js/application.js"></script>


  </body>
</html>
